extends layout

block content
  h3 Welcome to
    h1 #{title}

  h2 Connect & Create in the same space.

  .footer
    p A cultural evolution experiment from
      a(href='http://catalysm.co/', target='#')
        img#catLogo(src='images/catLogo.png')