doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/960grid.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

  block head
    script(src='assets/application.js')

  body
    .container_12
      #logoMain
        img(src='/images/3s-logo-hz-620.png')
      nav
        ul
          .grid_3
            li
              a(href='/register')
                button#register REGISTER
          .grid_3.push_6
            li
              a(href='/people')
                button#people PEOPLE
      block content

    #footer
      p CREATED by
        a(href='http://catalysm.co/', target='#')
          img#catLogo(src='/images/catLogo.png')
      p
        a(href='mailto:info@3rd-space.co') CONTACT