body {
  font: 16px "BaskervilleRegular";
  color: #000000;
  background-color: #fff;
  padding: 30px;
}

.main {
  height: 460px;
  width: 540px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

img.logotype {
  padding: 60px;
}

h1 {
  font-size: 30px;
  font-family: "NexaBold";
}

h2 {
  font-size: 22px;
  font-family: "NexaLight";
  text-transform: uppercase;
}
section {
  margin-bottom: 78px;
  width: 540px;
  margin-right: auto;
  margin-left: auto;
}

p a {
  margin-left: 8px;
}

p {
  text-align: left;
}

nav {
  text-align: right;
  padding: 10px;
  margin: -30px 0 20px 0;
}

nav ul li {
  list-style-type: none;
  display: inline;
  margin: 0;
  margin-bottom: 16px;
  padding: 0 10px 0;
}

a {
  color: #3CADE2;
  font-size: 14px;
}

#catLogo {
  width: 94px;
  margin-bottom: -4px;
}

.footer p {
  text-align: center;
}

/* @font-face */

@font-face {
  font-family: 'Nexa';
  src: url("/fonts/Nexa_Regular-webfont.eot");
  src: url("/fonts/Nexa_Regular-webfont.eot?#iefix") format('embedded-opentype'), 
       url("/fonts/Nexa_Regular-webfont.woff") format('woff'), 
       url("/fonts/Nexa_Regular-webfont.ttf") format('truetype'), 
       url("/fonts/Nexa_Regular-webfont.svg#nexa_regularregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaItalic';
  src: url("/fonts/Nexa_Regular_Italic-webfont.eot");
  src: url("/fonts/Nexa_Regular_Italic-webfont.eot?#iefix") format('embedded-opentype'), 
       url("/fonts/Nexa_Regular_Italic-webfont.woff") format('woff'), 
       url("/fonts/Nexa_Regular_Italic-webfont.ttf") format('truetype'), 
       url("/fonts/Nexa_Regular_Italic-webfont.svg#nexa_regular_italicitalic") format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'NexaBold';
  src: url("/fonts/Nexa_Free_Bold-webfont.eot");
  src: url("/fonts/Nexa_Free_Bold-webfont.eot?#iefix") format('embedded-opentype'), 
       url("/fonts/Nexa_Free_Bold-webfont.woff") format('woff'), 
       url("/fonts/Nexa_Free_Bold-webfont.ttf") format('truetype'), 
       url("/fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'NexaLight';
  src: url("/fonts/Nexa_Free_Light-webfont.eot");
  src: url("/fonts/Nexa_Free_Light-webfont.eot?#iefix") format('embedded-opentype'), 
       url("/fonts/Nexa_Free_Light-webfont.woff") format('woff'), 
       url("/fonts/Nexa_Free_Light-webfont.ttf") format('truetype'), 
       url("/fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular") format('svg');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'NexaLightItalic';
  src: url("/fonts/Nexa_Light_Italic-webfont.eot");
  src: url("/fonts/Nexa_Light_Italic-webfont.eot?#iefix") format('embedded-opentype'), 
       url("/fonts/Nexa_Light_Italic-webfont.woff") format('woff'), 
       url("/fonts/Nexa_Light_Italic-webfont.ttf") format('truetype'), 
       url("/fonts/Nexa_Light_Italic-webfont.svg#nexa_light_italicitalic") format('svg');
  font-weight: lighter;
  font-style: italic;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 24, 2013 */

@font-face {
    font-family: 'BaskervilleRegular';
    src: url('/fonts/librebaskerville-regular-webfont.eot');
    src: url('/fonts/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/librebaskerville-regular-webfont.woff') format('woff'),
         url('/fonts/librebaskerville-regular-webfont.ttf') format('truetype'),
         url('/fonts/librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BaskervilleItalic';
    src: url('/fonts/librebaskerville-italic-webfont.eot');
    src: url('/fonts/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/librebaskerville-italic-webfont.woff') format('woff'),
         url('/fonts/librebaskerville-italic-webfont.ttf') format('truetype'),
         url('/fonts/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'BaskervilleBold';
    src: url('/fonts/librebaskerville-bold-webfont.eot');
    src: url('/fonts/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/librebaskerville-bold-webfont.woff') format('woff'),
         url('/fonts/librebaskerville-bold-webfont.ttf') format('truetype'),
         url('/fonts/librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
    font-weight: bold;
    font-style: normal;

}